* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .rcorners1 {
    border-radius: 25px;
    background: #f06f6f; 
    padding:5px;
    width: 100px;
    height: 30px;  
    margin: top 0px;
    text-align: center;
  }
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 25%;
    margin-top:auto;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

